---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="calendar">
			<h1 class="monthName" id="monthName">hola</h1>
			<div class="week">
				<li>lunes</li>
				<li>martes</li>
				<li>miercoles</li>
				<li>jueves</li>
				<li>viernes</li>
				<li>sabado</li>
				<li>domingo</li>
			</div>
			<div class="days firstDay-04">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
				<li>9</li>
				<li>10</li>
				<li>11</li>
				<li>12</li>
				<li>13</li>
				<li>14</li>
				<li>15</li>
				<li>16</li>
				<li>17</li>
				<li>18</li>
				<li>19</li>
				<li>20</li>
				<li>21</li>
				<li>22</li>
				<li>23</li>
				<li>24</li>
				<li>25</li>
				<li>26</li>
				<li>27</li>
				<li>28</li>
				<li>29</li>
				<li>30</li>
			</div>
		</div>

		<p class="test"></p>
	</main>
</Layout>

<script>

const intlW = new Intl.DateTimeFormat('es',{weekday: "short"})
const intlM = new Intl.DateTimeFormat('es',{month: "long"})

const month = document.querySelector('.monthName')
const week = document.querySelector('.week')
const days = document.querySelector('.days')
const allDays = document.querySelectorAll('.days > li')

const daysarr = [...Array(7).keys()].map(d => {
	return intlW.format(new Date(2022,7,d + 1)) 
})

function getMonthNumber() {
	const month = new Date(Date.now()).getMonth()
	return month
}

function getFirstDayofMonth() {
	let firstDay = new Date(2022,getMonthNumber(),1).getDay()
	return firstDay
}

function getTodayNumber() {
	return new Date(Date.now()).getDate()
}


month.innerHTML = `${intlM.format(new Date(2022,getMonthNumber()))}`
week.innerHTML = daysarr.reduce((a, v) => {
	return `${a} <li class="listdays">${v}</li> \n`
}, '\n')

document.addEventListener('DOMContentLoaded', () => {
	let newClass = `firstDay-0${getFirstDayofMonth()}`

	days.classList.forEach(cl => {
		if(!cl.startsWith('first')) return
		days.classList.replace(cl, newClass)
	})
	
})

allDays.forEach(day => {
	if(parseInt(day.innerHTML)  === getTodayNumber()){
		day.classList.add('today')
	}
})

</script>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

	*  {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	.listdays {
		text-align: center;
		list-style: none;
	}

</style>

<style>

	body {
		min-height: 100vh;
		display: grid;
		place-content: center;
		background-color: rgb(252, 252, 252);
		font-family: 'roboto mono';
	}

	.today {
		border-radius: 50%;
		background-color: rgba(81, 98, 250, 0.096);
		font-weight: bold;
		font-size: 1.1em ;
		color: rgb(138, 90, 248) !important;
		border-radius: 50% !important;
	}

	.monthName {
		text-transform: capitalize;
		font-weight: bold;
		font-size: 3em;
  	background-image: linear-gradient(75deg, rgb(136, 181, 233), rgb(58, 42, 116));
		-webkit-background-clip: text;
		color: transparent;
	}

	.calendar {
		width: 85%;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		gap: 2em;
		margin: auto;
		background-color: white;
		padding: 4em 2em;
		border-radius: 5%;
		box-shadow: 2px 10px 30px rgba(181, 80, 228, 0.13);
	}

	.week {
		display: grid;
		place-content: center;
		grid-template-columns: repeat(7, minmax(20px, 200px));
		gap: 1.2em;
		padding: .75em;
		color: rgb(189, 189, 189);
		text-transform: uppercase;
	}

	.days {
		margin-top: -30px;
		display: grid;
		grid-template-columns: repeat(7, minmax(20px, 200px));
		grid-auto-rows: 50px;
		align-content: space-around;
		align-items: ;
		text-align: center;
		gap: 15px;
		height: 400px;
	}

	.days > li {
		color: rgb(79, 67, 110);
		display: grid;
		place-content: center;
		border-radius: 15%;
		/* box-shadow: 5px 5px 15px rgba(179, 179, 179, 0.062); */
		/* border: 1px solid red; */
		padding: 30px;
		cursor: pointer;
	}

	.days > li:hover {
		background-color: rgba(179, 217, 248, 0.11);
	}

	.firstDay-01 > li:first-child{
		grid-column-start: 1;
	}
	.firstDay-02 > li:first-child{
		grid-column-start: 2;
	}
	.firstDay-03 > li:first-child{
		grid-column-start: 3;
	}
	.firstDay-04 > li:first-child{
		grid-column-start: 4;
	}
	.firstDay-05 > li:first-child{
		grid-column-start: 5;
	}
	.firstDay-06 > li:first-child{
		grid-column-start: 6;
	}
	.firstDay-07 > li:first-child{
		grid-column-start: 7;
	}


</style>
